body {
  background-color: grey;
  background-image: url("./pexels-sindre-fs-958362.jpg");
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Noto Sans', sans-serif;
}

.container {
 background-color: white;

  padding: 20px;
      display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  
  height: 300px;
  width:300px
  
}
.input {
 
  
  width: 320px;
  height: 30px;
  padding: 10px;
  outline: none;
  margin-bottom: 20px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: width 0.4s ease-in-out;
  

}

.input:focus {

  outline: none;
  
 
}

.middle {
  

  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.weatherbox {
  
  
  width: 300px;
  height: 80px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: left;
  
}
.city{
  font-size: 14px;
  color: #555555;
  
}
.country {
  font-size: 12px;
  color: #999999;
  letter-spacing: 1px;
}
.city, .country {
  
 
  text-align: center;
  height: 20px;
}
.gif {
  display: flex;
  flex-direction: column;
 align-items: center;
  width: 300px;
  height: 150px;
  gap: 5px;
}

.bottombox {
  width: 300px;
  height: 100px;
  
  display: flex;
  justify-content: center;
  text-align: c;
  flex-direction: column;
  margin-left: 30px;
}
.temp {
  
  font-size: 28px;
  text-align: left;
  margin: 0;
  color: #555555;
  
}
.condition {
  
  margin: 0;
  font-size: 12px;
  text-align: left;
  color: #999999;
  letter-spacing: 2px;
}
.date {
  font-size: 10px;
  align-items: left;
  width: 150px;
  margin: 0;
  
}